/* navbar wrapper */

.navbar-wrapper{
width:100%;
display:flex;
justify-content:center;
position:absolute;
top:20px;
z-index:100;
}

/* navbar */

.navbar{
width:90%;
background:white;
border-radius:40px;
padding:10px 25px;
display:flex;
align-items:center;
justify-content:space-between;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
position: fixed;
top: 0;
z-index: 1000;
}

/* logo */

.logo-img{
height:50px;
}

/* links */

.nav-links{
display:flex;
gap:20px;
align-items:center;
}

.nav-links a{
text-decoration:none;
color:#ff6a00;
font-weight:600;
font-size:20px;
}

/* login button */

.login-btn{
background:#ff6a00;
color:white !important;
padding:7px 18px;
border-radius:20px;
border: 0px;
}

.login-btn:hover{
background:#753f13;
}

.logout2{
   background:#ff6a00;
color:white !important;
padding:6px 18px;
border-radius:20px; 
border: 0px;
}


/* hamburger */

.menu-icon{
display:none;
font-size:26px;
cursor:pointer;
color:#ff6a00;
}

/* MOBILE */

@media(max-width:768px){

.menu-icon{
display:block;
}

.nav-links{
position:absolute;
top:80px;
right:20px;
background:white;
flex-direction:column;
gap:15px;
padding:20px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
display:none;
}

.nav-links.active{
display:flex;
}

}